@charset "UTF-8";

.navbar{
	padding-top: 12px;
	margin-bottom: 10px;
}
.centralp{
	margin-left: 10px;
	margin-right: 10px;
}
.alert{
	margin-left: 10px;
	margin-right: 10px;
}
.logo{
	width: 150px;
    margin-bottom: -8px;
    margin-top: -14px;
    margin-left: -31px;
}