<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="LayoutPadrao">
<head>
<title>Pesquisa de Titulos</title>
<link rel="stylesheet" href="fontawesome-free-5.12.0-web/fontawesome-free-5.12.0-web/css/all.css" type="text/css">
</head>
<section layout:fragment="conteudo">
	<div layout:insert="MensagemGeral"></div>
<div class="card centralp">
	<div class="card-header">
		<h6>Pesquisa titulo</h6>
	</div>
	<div class="card-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center">#</th>
					<th>Descrição</th>
					<th class="text-center">Data de vencimento</th>
					<th class="text-center">Valor</th>
					<th class="text-center">Status</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="titulo : ${titulos}">
				<td class="text-center" th:text="${titulo.codigo}">1</td>
				<td th:text="${titulo.descricao}"></td>
				<td class="text-center" th:text="${{titulo.dataVencimento}}"></td>
				<td class="text-right" th:text="|R$ ${{titulo.valor}}|"></td>
				<td class="text-center"> 
				<span class="badge" th:text="${titulo.status.descricao}"
					th:classappend="${#strings.toString(titulo.status) == 'PENDENTE' ? 'badge-danger' : 'badge-success'}"></span>
				</td>
				<td class="text-center">
					<a class="btn btn-link" th:href="@{/home/{codigo}(codigo=${titulo.codigo})}">
						<i class="fas fa-pencil-alt"  data-toggle="tooltip" title="Editar"></i>						
					</a>
						<a class="btn btn-link" data-toggle="modal" data-target="#confirmacaoExclusaoModal"
							th:attr="data-codigo=${titulo.codigo} , data-descricao=${titulo.descricao}" >
						<i class="far fa-trash-alt"  data-toggle="tooltip" title="Excluir"></i>
					</a>
					
				</td>
			</tr>
				<tr>
				<td colspan="6" th:if="${#lists.isEmpty(titulos)}">Nenhum titulo encontrado</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div layout:insert="DialogoConfirmacaoExclusao"></div>
	
</div>
</section>
</html>